# MacOS
.DS_Store

# VSCode
.vscode/

# DDEV
.ddev/
.ddev/docker-compose.cooked.yaml

# Dev dependencies
node_modules/
vendor

# Tests
tests/test-results/
tests/playwright-report/
tests/blob-report/
tests/playwright/.cache/
tests/.auth/
tests/phpunit/.cache

# Build
build/*

# WordPress
wordpress/
