# MacOS
.DS_Store

# VSCode
.vscode/

# DDEV
.ddev/
.ddev/docker-compose.cooked.yaml

# Dev dependencies
node_modules/
vendor
.env

# Tests
tests/playwright/test-results/
tests/playwright/playwright-report/
tests/playwright/.cache/
tests/test-results/
tests/playwright-report/
tests/blob-report/
playwright-report/
test-results/
tests/.auth/
tests/phpunit/.cache

# Build
build/*

# WordPress
wordpress/
