<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    bootstrap="tests/phpunit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    testdox="true"
    cacheResultFile="tests/phpunit/.cache/result"
>
    <testsuites>
        <testsuite name="Cooked Test Suite">
            <directory suffix="Test.php">tests/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>
