/* Cooked Admin Styling
 * @since 1.0.0
 */

.cooked-clearfix:after { content: ""; display: table; clear: both; }

/* Hide the recipe content editor window, but leave it there for Yoast and other SEO plugins to read from */
#post-body-content #postdivrich { display:none; }

body.post-type-cp_recipe .wp-list-table thead th.check-column,
body.post-type-cp_recipe .wp-list-table tfoot th.check-column { padding:15px 0 0 7px; }
body.post-type-cp_recipe .wp-list-table thead th,
body.post-type-cp_recipe .wp-list-table tfoot th,
body.post-type-cp_recipe .wp-list-table thead td,
body.post-type-cp_recipe .wp-list-table tfoot td { padding:10px 10px; }

body.post-type-cp_recipe .wp-list-table thead th.sortable a, body.post-type-cp_recipe .wp-list-table thead th.sorted a,
body.post-type-cp_recipe .wp-list-table tfoot th.sortable a, body.post-type-cp_recipe .wp-list-table tfoot th.sorted a { padding-left:0; padding-right:0; }

body.post-type-cp_recipe .wp-list-table tbody th.check-column { padding:15px 0 0 10px; }
body.post-type-cp_recipe .wp-list-table tbody th,
body.post-type-cp_recipe .wp-list-table tbody td { padding:12px 10px; }
body.post-type-cp_recipe .wp-list-table tbody td.column-title strong { margin-top:6px; }
body.post-type-cp_recipe .wp-list-table tbody td.column-title strong .row-title { padding-top:10px; font-size:1rem !important; }

th.column-featured_image { width:50px; text-align:center; }
td.column-featured_image { width:50px; text-align:center; }
.cooked-admin-recipes-list-image img { width:49px; height:auto; border-radius:3px; position:relative; top:3px; }

body.post-type-cp_recipe #titlediv #title { box-shadow:none; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:0 12px; font-weight:400; font-size:19px; letter-spacing:0; height:44px; }
body.post-type-cp_recipe #titlediv #title-prompt-text { font-size:15px; color:#888; font-weight:400; letter-spacing:0; padding:12px 15px; }

#cooked-settings-prewrap { display:flex; justify-content:center; }
#cooked-settings-wrap {
  position: relative;
  border-radius: 10px;
  margin: 40px 40px 40px 20px;
  /* max-width:1000px; */
  min-width: 1000px;
  background: #fff;
  box-shadow:
    0 4px 4px rgba(0,0,0,0.05),
    0 8px 8px rgba(0,0,0,0.05),
    0 32px 32px rgba(0,0,0,0.05),
    0 64px 64px rgba(0,0,0,0.05)
}

#cooked-settings-wrap.is-stuck { position:static !important; }
#cooked-settings-wrap .cooked-settings-update-button { position:absolute; top:30px; right:30px; }
#cooked-settings-wrap .cooked-settings-update-button > .button-primary { box-shadow:none; border:none; }
#cooked-settings-wrap.is-stuck .cooked-settings-update-button { position:fixed; top:40px; right:11px; z-index:100001; }

#cooked_recipe_settings .hndle, #cooked_recipe_settings button.handlediv { display:none; }
#cooked_recipe_settings .inside { padding:0; margin:0; }

#cooked-recipe-tabs { list-style:none; padding:0; margin:0; position:absolute; top:0; left:0; width:100%; }
#cooked-recipe-tabs li { font-size:0.9rem; line-height:3rem; height:3rem; font-weight:500; display:inline-block; padding:0 1.25rem; margin:0; color:#fff; }
#cooked-recipe-tabs li:hover { cursor:pointer; }
#cooked-recipe-tabs li.active,
#cooked-recipe-tabs li.active:hover { cursor:default; }
#cooked-recipe-tabs li:last-child { border-right:none !important; }
#cooked-recipe-tabs li.cooked-loading { opacity:0; background:none; color:#fff; position:absolute; top:0; right:0; cursor:default; font-size:14px; width:40px; height:40px; text-align:center; display:block; line-height:40px; padding:0; }
#cooked-recipe-tabs li.cooked-loading:hover { background:none; color:#fff; }
#cooked_recipe_settings.cooked-loading #cooked-recipe-tabs li.cooked-loading { opacity:1; }

#cooked_recipe_settings .inside { padding-top:41px; }
#cooked_recipe_settings.stuck #cooked-recipe-tabs {
  position: fixed;
  width: auto;
  top: 32px;
  left: 23px;
  z-index: 100000;
  margin-left: 160px;
  box-shadow: 0 3px 50px rgba(0,0,0,0.25);
}

#cooked_recipe_settings.stuck #cooked-recipe-tabs li.cooked-loading { right:160px; }

.cooked-recipe-tab-content-wrapper .cooked-recipe-tab-content { display:none; }
.cooked-recipe-tab-content-wrapper .cooked-recipe-tab-content:first-child { display:block; }

/* Positioning */
.cooked-left { float:left; display:inline-block; width:auto; }
.cooked-right { float:right; display:inline-block; width:auto; }

#cooked_field--cooked_pro_license_key { font-family:monospace; }

#cooked_recipe_settings .cooked-bm-5 { margin-bottom:5px !important; }
#cooked_recipe_settings .cooked-bm-10 { margin-bottom:10px !important; }
#cooked_recipe_settings .cooked-tm-10 { margin-top:10px !important; }
#cooked_recipe_settings .cooked-bm-15 { margin-bottom:15px !important; }
#cooked_recipe_settings .cooked-bm-20 { margin-bottom:20px !important; }
#cooked_recipe_settings .cooked-bm-30 { margin-bottom:30px !important; }
#cooked_recipe_settings .cooked-bm-5-up { margin-bottom:-5px !important; }
#cooked_recipe_settings .cooked-bm-10-up { margin-bottom:-10px !important; }
#cooked_recipe_settings .cooked-bm-15-up { margin-bottom:-15px !important; }
#cooked_recipe_settings .cooked-bm-20-up { margin-bottom:-20px !important; }
#cooked_recipe_settings .cooked-bm-30-up { margin-bottom:-30px !important; }
#cooked_recipe_settings .cooked-hr { border:none; border-top:2px solid #ddd; margin:10px 0 0 0; padding:15px 0 0 0; }
#cooked_recipe_settings .cooked-conditional-hidden { display:none; }
#cooked_recipe_settings .cooked-recipe-tab-content { padding:23px 30px 15px 30px; }
#cooked_recipe_settings .recipe-setting-block { margin:0 0 20px; width:100%; }
#cooked_recipe_settings .recipe-setting-block p { font-size:0.9rem; line-height:1.5rem; margin:0 0 1rem; padding:0; }
#cooked_recipe_settings .recipe-setting-block p.cooked-padded { line-height: 1.75rem; font-size: 0.85rem; }
#cooked_recipe_settings .recipe-setting-block .cooked-conditional-hidden { padding:0; }
#cooked_recipe_settings textarea { width:100%; height:75px; padding:15px; box-sizing:border-box; position:relative; top:5px; }
#cooked_recipe_settings .recipe-setting-block > label.cooked-select-label { top:5px; }
#cooked_recipe_settings select { cursor:pointer; -webkit-appearance:none; -moz-appearance:none; appearance:none; box-shadow: none; border-radius: 3px; padding: 0 45px 0 9px; line-height: 31px; height: 33px; box-sizing: border-box; background:#fff; }
#cooked_recipe_settings .cooked-select-wrapper { background:#fff; position:relative; width:100%; display:inline-block; border-radius: 3px; margin:0 5px 0 0; }
#cooked_recipe_settings .cooked-select-wrapper select { margin:0; background:transparent; position:relative; }
#cooked_recipe_settings .cooked-select-wrapper:before { font-family:'CookedIcons'; display:block; width:15px; height:15px; line-height:14px; color:#000; font-size:14px; content:"\f00b"; position:absolute; right:12px; top:11px; color:rgba(0,0,0,0.3); }
#cooked_recipe_settings .cooked-select-wrapper:hover:before { color:#000; }
#cooked_recipe_settings .cooked-select-wrapper:hover select { border-color:#ccc; }
#cooked_recipe_settings .cooked-checkbox-radio-label { position:relative; left:1px; }
#cooked_recipe_settings .recipe-setting-block input[type="checkbox"],
#cooked_recipe_settings .recipe-setting-block input[type="radio"] { margin-top:0; }
#cooked_recipe_settings .recipe-setting-block input[type="number"] { width:65px; }
#cooked_recipe_settings .recipe-setting-block input[type="text"],
#cooked_recipe_settings .recipe-setting-block input[type="password"] { width:75%; }
#cooked_recipe_settings .recipe-setting-block input[type="text"],
#cooked_recipe_settings .recipe-setting-block input[type="password"],
#cooked_recipe_settings .recipe-setting-block input[type="number"] { margin: 0 6px 5px 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; height: 33px; box-shadow: none; position: relative; top: 2px; padding: 0 10px; }
#cooked_recipe_settings .recipe-setting-block p.cooked-measurement-inputs .cooked-measurement-column { width:43%; margin-right:3%; display:inline-block; }
#cooked_recipe_settings .recipe-setting-block p.cooked-measurement-inputs label,
#cooked_recipe_settings .recipe-setting-block p.cooked-measurement-inputs input,
#cooked_recipe_settings .recipe-setting-block p.cooked-measurement-inputs .cooked-select-wrapper { width:100%; display:block; }
#cooked_recipe_settings .recipe-setting-block p.cooked-measurement-inputs .cooked-select-wrapper select { width:100%; }
#cooked_recipe_settings .recipe-setting-block input[type="number"],
#cooked_recipe_settings .recipe-setting-block input[type="text"].cooked-small-textfield,
#cooked_recipe_settings .recipe-setting-block input[type="password"].cooked-small-textfield { width:150px; }
#cooked_recipe_settings small { display:block; line-height:1.5; font-size:12px; color:#888; padding:10px 0 0; }
#cooked_recipe_settings .recipe-setting-block em { color:#aaa; }
#cooked_recipe_settings .recipe-setting-block,
#cooked_recipe_settings .recipe-setting-block .cooked-repositioned { display:block; position:relative; box-sizing:border-box; line-height:1; }
#cooked_recipe_settings .recipe-setting-block .cooked-repositioned { padding-left:157px; }
#cooked_recipe_settings .recipe-setting-block h3.cooked-settings-title { width:70%; position:relative; z-index:2; padding:0.5rem 0 0.5rem; margin:0; font-size:1rem; line-height:1.5rem; font-weight:600; }
#cooked_recipe_settings .recipe-setting-block strong.cooked-heading { font-size:14px; }
#cooked_recipe_settings .recipe-setting-block .cooked-repositioned > label { position:absolute; top:1px; left:0; width:147px; cursor:default; font-weight:600; }
#cooked_recipe_settings .recipe-setting-block .cooked-tooltip-icon { color:#aaa; cursor:help; display:inline-block; margin-left:10px; }
#cooked_recipe_settings .recipe-setting-block .cooked-tooltip-icon:hover { color:#eee; }
#cooked_recipe_settings .recipe-setting-block .cooked-repositioned > .cooked-checkbox-radio-label { top:7px; }
#cooked_recipe_settings .recipe-setting-block .cooked-repositioned > label { top:auto; height: 33px; line-height: 30px; padding:0; width:130px; }
#cooked_recipe_settings .recipe-setting-block .cooked-repositioned:first-child label:first-child { padding-top:12px; margin-top:-12px; }
#cooked_recipe_settings .recipe-setting-block .cooked-repositioned span.cooked-padded { padding:0 0 15px; display:block; line-height:1.9; }
#cooked_recipe_settings .recipe-setting-block .wp-picker-container .cooked-color-field.wp-color-picker { padding: 5px; height: 25px; top:0; margin:0; width:74px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #ccc; }
#cooked_recipe_settings .recipe-setting-block input[type="text"].cooked-shortcode-field { font-family:monospace; background:#f5f5f5; font-size:12px; }
#cooked_recipe_settings .cooked-banner-block { margin:30px -30px -17px; display:block; box-sizing:content-box; padding:10px 30px 15px; background:#f9f9f9; width:100%; border-top:1px solid #e5e5e5; }
#cooked_recipe_settings .cooked-advanced-options-hr { border:none; border-bottom:1px solid #ddd; height:1px; padding:10px 0 0 0; margin:0 0 20px; }
#cooked_recipe_settings .recipe-setting-block input.cooked-time-picker { top:0; width:100%; padding-right:70%; margin:0 0 3px; }
#cooked_recipe_settings .recipe-setting-block .cooked-time-picker-text { position:absolute; bottom:13px; right:40px; color:#888; }
#cooked_recipe_settings .cooked-alert-block { background:#fffbdc; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin:10px 0 15px; padding:10px 22px 2px; border:2px solid #ece8c4; }
#cooked_recipe_settings .recipe-setting-block.cooked-template { display:none; }
#cooked_recipe_settings ul.cooked-admin-ul { font-size:0.9rem; margin:0 0 1rem 2rem; list-style:disc; }
#cooked_recipe_settings ul.cooked-admin-ul li { font-size:0.9rem; padding:0; margin:0 0 0.5rem }
#cooked_recipe_settings .cooked-html-block { background:#fff; width:auto; min-width:300px; display:inline-block; padding:0.5rem 1.3rem 0.25rem; border-radius:3px; box-shadow:0 1px 3px rgba(0,0,0,0.15); }
#cooked_recipe_settings .recipe-setting-block .cooked-html-block h3.cooked-settings-title { width:100%; color:#333; }
#cooked_recipe_settings .recipe-setting-block .cooked-html-block.valid { background:#fff; border:2px solid #0aa780; box-shadow:none; border-radius:5px; }
#cooked_recipe_settings .recipe-setting-block .cooked-html-block.valid > .cooked-settings-title { color:#0aa780; }
#cooked_recipe_settings .recipe-setting-block .cooked-html-block.expired { border:2px solid #ca4a20; }

/* Heading Element Styles */
#cooked-ingredients-builder .cooked-ingredient-block:hover > .cooked-heading-name,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-expanded > .cooked-heading-name,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-has-heading-element > .cooked-heading-name,
#cooked-directions-builder .cooked-direction-block:hover > .cooked-heading-name,
#cooked-directions-builder .cooked-direction-block.cooked-expanded > .cooked-heading-name,
#cooked-directions-builder .cooked-direction-block.cooked-has-heading-element > .cooked-heading-name {
    padding-right: 32px;
}

#cooked-ingredients-builder .cooked-ingredient-block .cooked-show-heading-element,
#cooked-directions-builder .cooked-direction-block .cooked-show-heading-element {
    opacity: 0;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 14px;
    right: 35px;
}

#cooked-ingredients-builder .cooked-ingredient-block .cooked-show-heading-element .cooked-icon,
#cooked-directions-builder .cooked-direction-block .cooked-show-heading-element .cooked-icon {
    color: #888;
}

#cooked-ingredients-builder .cooked-ingredient-block:hover .cooked-show-heading-element,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-expanded .cooked-show-heading-element,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-has-heading-element .cooked-show-heading-element,
#cooked-directions-builder .cooked-direction-block:hover .cooked-show-heading-element,
#cooked-directions-builder .cooked-direction-block.cooked-expanded .cooked-show-heading-element,
#cooked-directions-builder .cooked-direction-block.cooked-has-heading-element .cooked-show-heading-element {
    opacity: 1;
}

#cooked-ingredients-builder .cooked-ingredient-block .cooked-show-heading-element .cooked-icon:hover,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-expanded .cooked-show-heading-element .cooked-icon,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-has-heading-element .cooked-show-heading-element .cooked-icon,
#cooked-directions-builder .cooked-direction-block .cooked-show-heading-element .cooked-icon:hover,
#cooked-directions-builder .cooked-direction-block.cooked-expanded .cooked-show-heading-element .cooked-icon,
#cooked-directions-builder .cooked-direction-block.cooked-has-heading-element .cooked-show-heading-element .cooked-icon {
    color: #0685ba;
}

#cooked-ingredients-builder .cooked-ingredient-block > .cooked-heading-element,
#cooked-directions-builder .cooked-direction-block > .cooked-heading-element {
    display: none;
    width: 65%;
    float: right;
    margin-top: 4px;
    padding-right: 32px;
}

#cooked-ingredients-builder .cooked-ingredient-block > .cooked-heading-element select,
#cooked-directions-builder .cooked-direction-block > .cooked-heading-element select {
    color: #0685ba;
    width: 100%;
}

#cooked-ingredients-builder .cooked-ingredient-block > .cooked-heading-element label,
#cooked-directions-builder .cooked-direction-block > .cooked-heading-element label {
  font-weight: 600;
}

#cooked-ingredients-builder .cooked-ingredient-block.cooked-expanded > .cooked-heading-element,
#cooked-directions-builder .cooked-direction-block.cooked-expanded > .cooked-heading-element {
    display: block;
}

#cooked-ingredients-builder .cooked-ingredient-block .cooked-show-substitution { opacity:0; cursor:pointer; font-size:14px; position:absolute; top:15px; right:35px; }
#cooked-ingredients-builder .cooked-ingredient-block .cooked-show-substitution .cooked-icon { color:#888; }
#cooked-ingredients-builder .cooked-ingredient-block:hover .cooked-show-substitution,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-expanded .cooked-show-substitution,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-has-substitution .cooked-show-substitution { opacity:1; }
#cooked-ingredients-builder .cooked-ingredient-block .cooked-show-substitution .cooked-icon:hover,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-expanded .cooked-show-substitution .cooked-icon,
#cooked-ingredients-builder .cooked-ingredient-block.cooked-has-substitution .cooked-show-substitution .cooked-icon { color:#0685ba; }

/* Switchery */
body.post-type-cp_recipe .switchery-small,
#cooked_recipe_settings .switchery-small { height:1rem; width:1.75rem; border-radius:1rem; margin-right:0.4rem; }
body.post-type-cp_recipe .switchery-small > small,
#cooked_recipe_settings .switchery-small > small { width:1rem; height:1rem; padding:0; }

.cooked-tooltip-buttons .cooked-icon-spin { margin-top:10px; font-size:15px; }
.cooked-tooltip-buttons .cooked-saved-default { height:28px; line-height:28px; font-weight:bold; font-size:15px; color:#888; }

.cooked-progress { display:none; position:relative; background:#eee; width:100%; height:6px; padding:0; border-radius:3px; margin:10px 0 0 0; }
.cooked-progress-text { display:none; font-size:10px; color:#aaa; padding:2px 0 5px; }
.cooked-progress.cooked-active, .cooked-progress-text.cooked-active { display:block; }
.cooked-progress .cooked-progress-bar { display:block; position:absolute; background:#0085ba; width:0%; height:6px; top:0; left:0; border-radius:3px; }

#cooked-migration-progress.cooked-progress, #cooked-import-progress.cooked-progress { background:#ccc; margin:25px 0 0 0; border-radius:6px; height:12px; max-width:600px; }
#cooked-migration-progress.cooked-progress .cooked-progress-bar, #cooked-import-progress.cooked-progress .cooked-progress-bar { border-radius:6px; height:12px; }
#cooked-migration-progress-text.cooked-progress-text, #cooked-import-progress-text.cooked-progress-text { font-size:11px; color:#888; max-width:600px; }
#cooked-migration-completed, #cooked-import-completed { display:none; }
#cooked-migration-completed.cooked-active, #cooked-import-completed.cooked-active { display:block; }

/* Save as Default */
#cooked_recipe_settings .cooked-layout-save-default { position:relative; top:-2px; z-index:10; margin:0 0 0 15px; padding:0 8px 1px; }
#cooked_recipe_settings .cooked-layout-load-default { position:relative; top:-2px; z-index:10; margin:0 0 0 10px; padding:0 8px 1px; }
body .button.button-cooked-reset { color:#999; }
body .button.button-cooked-reset:hover { color:#555; }


/* Ingredients Builder */
#cooked_recipe_settings .cooked-ingredient-headers { display:block; padding:5px 25px 0 35px; }
#cooked_recipe_settings .cooked-ingredient-headers span { font-size:0.7rem; font-weight:700; letter-spacing:0.03rem; text-transform:uppercase; color:#0085ba; box-sizing:border-box; display:inline-block; float:left; }
#cooked_recipe_settings .cooked-ingredient-headers span.cooked-ingredient-header-amount { width:15%; }
#cooked_recipe_settings .cooked-ingredient-headers span.cooked-ingredient-header-measurement { width:20%; }
#cooked_recipe_settings .cooked-ingredient-headers span.cooked-ingredient-header-item { width:65%; }
#cooked-ingredients-builder { margin:0 0 20px; }
#cooked-ingredients-builder .cooked-ingredient-block { display:block; padding:5px 45px 5px 35px; }
#cooked-ingredients-builder .cooked-ingredient-block:hover { background:#eee; }
#cooked-ingredients-builder .cooked-ingredient-block input[type="text"],
#cooked-ingredients-builder .cooked-ingredient-block input[type="number"],
#cooked-ingredients-builder .cooked-ingredient-block select { margin:0; display:block; top:0; }
#cooked-ingredients-builder .cooked-ingredient-block > div { display:inline-block; float:left; box-sizing:border-box; padding-right:10px; }
#cooked-ingredients-builder .cooked-ingredient-block > div input[type="text"] { width:100%; }
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-ingredient-amount { width:15%; }
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-ingredient-measurement { width:20%; }
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-ingredient-measurement .cooked-select-wrapper { width:100%; }
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-ingredient-measurement .cooked-select-wrapper select { width:100%; }
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-ingredient-name { width:65%; }
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-heading-name { width:100%; }
#cooked-ingredients-builder .cooked-ingredient-block > div small.cooked-input-ex { display:block; padding:5px 0 0 2px; }
#cooked-ingredients-builder .cooked-ingredient-block { margin:0; }
#cooked-ingredients-builder .cooked-ingredient-block i.cooked-icon-drag { cursor:move; color:#ccc; font-size:32px; position:absolute; top:5px; left:1px; }
#cooked-ingredients-builder .cooked-ingredient-block:hover i.cooked-icon-drag { color:#888; }
#cooked-ingredients-builder .cooked-ingredient-block.ui-sortable-helper { background:#f5f5f5; box-shadow:0 10px 20px rgba(0,0,0,0.15); -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
#cooked-ingredients-builder .cooked-ingredient-block.ui-sortable-placeholder { visibility:visible !important; background:#eee; display:block; width:100%; height:43px; border-top:6px solid #fff; border-bottom:6px solid #fff; }
#cooked-ingredients-builder .cooked-ingredient-block .cooked-delete-ingredient { cursor:pointer; font-size:14px; position:absolute; top:14px; right:11px; }
#cooked-ingredients-builder .cooked-ingredient-block .cooked-delete-ingredient .cooked-icon { color:#fff; }
#cooked-ingredients-builder .cooked-ingredient-block:hover .cooked-delete-ingredient .cooked-icon { color:#888; }
#cooked-ingredients-builder .cooked-ingredient-block .cooked-delete-ingredient .cooked-icon:hover { color:#de2020; }
#cooked-ingredients-builder .cooked-ingredient-block .cooked-delete-substitution { cursor:pointer; font-size:14px; position:absolute; top:37px; right:-10px; }
#cooked-ingredients-builder .cooked-ingredient-block .cooked-delete-substitution .cooked-icon { color:#fff; }
#cooked-ingredients-builder .cooked-ingredient-block:hover .cooked-delete-substitution .cooked-icon { color:#888; }
#cooked-ingredients-builder .cooked-ingredient-block .cooked-delete-substitution .cooked-icon:hover { color:#de2020; }
#cooked-ingredients-builder .cooked-ingredient-block.cooked-ingredient-heading { margin:10px 0; }
#cooked-ingredients-builder .cooked-ingredient-block.cooked-ingredient-heading > div input[type="text"] { padding:0px 7px; font-size:16px; background:#f9f9f9; font-weight:600; }

#cooked-directions-builder { margin:0 0 20px; }
#cooked-directions-builder .cooked-direction-block { display:block; padding:15px 25px 15px 35px; }
#cooked-directions-builder .cooked-direction-block.cooked-direction-heading { padding:5px 25px 5px 35px; }
#cooked-directions-builder .cooked-direction-block:hover { background:#f5f5f5; }
#cooked-directions-builder .cooked-direction-block.cooked-direction-heading:hover { background:#eee; }
#cooked-directions-builder .cooked-direction-block textarea { margin:0; display:block; height:191px; top:0; }
#cooked-directions-builder .cooked-direction-block > div { display:inline-block; float:left; box-sizing:border-box; padding-right:15px; }
#cooked-directions-builder .cooked-direction-block > div:last-child { padding:0; }
#cooked-directions-builder .cooked-direction-block > div input[type="text"] { width:100%; }
#cooked-directions-builder .cooked-direction-block .mce-statusbar { display:none; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image { width:120px; position:absolute; top:15px; left:35px; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image img { cursor:pointer; display:none; border-radius:3px; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image .cooked-direction-img-placeholder { box-sizing: border-box; cursor:pointer; border-radius:3px; width:100%; padding-bottom:100%; background:none; border:2px dashed #ddd; border-radius:3px; margin-top:15px; }
#cooked-directions-builder .cooked-direction-block:hover > .cooked-direction-image .cooked-direction-img-placeholder { background:none; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image .cooked-direction-img-placeholder:hover { background:#ddd; border:2px solid #ddd; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image .direction-image-button { width:100%; text-align:center; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image .remove-image-button { display:none; position:absolute; top:43px; right:15px; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image.cooked-has-image .remove-image-button { display:inline-block; padding:10px; background:rgba(0,0,0,0.25); color:#fff; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image.cooked-has-image .remove-image-button:hover { background:#ff0100; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image.cooked-has-image img { width:100%; height:auto; display:block; margin:15px 0 0; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image.cooked-has-image .cooked-direction-img-placeholder { display:none; }
#cooked-directions-builder .cooked-direction-block > .cooked-direction-content { width:100%; padding-left:120px; }
#cooked-directions-builder .cooked-direction-block > .cooked-heading-name { width:100%; }
#cooked-directions-builder .cooked-direction-block { margin:0; }
#cooked-directions-builder .cooked-direction-block i.cooked-icon-drag { cursor:move; color:#ccc; font-size:32px; position:absolute; top:13px; left:1px; }
#cooked-directions-builder .cooked-direction-block.cooked-direction-heading i.cooked-icon-drag { top:5px; }
#cooked-directions-builder .cooked-direction-block:hover i.cooked-icon-drag { color:#888; }
#cooked-directions-builder .cooked-direction-block.ui-sortable-helper { background:#f5f5f5; box-shadow:0 10px 20px rgba(0,0,0,0.15); -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
#cooked-directions-builder .cooked-direction-block.ui-sortable-placeholder { visibility:visible !important; background:#eee; display:block; width:100%; height:221px; border-top:6px solid #fff; border-bottom:6px solid #fff; }
#cooked-directions-builder .cooked-direction-block.cooked-direction-heading.ui-sortable-placeholder { height:43px; }
#cooked-directions-builder .cooked-direction-block .cooked-delete-direction { cursor:pointer; font-size:14px; position:absolute; right:14px; }
#cooked-directions-builder .cooked-direction-block .cooked-delete-direction .cooked-icon { color:#fff; }
#cooked-directions-builder .cooked-direction-block:hover .cooked-delete-direction .cooked-icon { color:#888; }
#cooked-directions-builder .cooked-direction-block .cooked-delete-direction .cooked-icon:hover { color:#de2020; }
#cooked-directions-builder .cooked-direction-block.cooked-direction-heading { margin:10px 0; }
#cooked-directions-builder .cooked-direction-block.cooked-direction-heading > div input[type="text"] { padding:0px 7px; font-size:16px; background:#f9f9f9; font-weight:600; top:0; margin:0; }
#cooked-directions-builder .cooked-direction-block .cooked-delete-direction { top:16px; }
#cooked-directions-builder .cooked-direction-block.cooked-direction-heading .cooked-delete-direction { top:14px; }

/* Recipe Gallery */
#cooked-recipe-image-gallery { margin:0 -1% 0; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item { position:relative; overflow:hidden; cursor:move; box-sizing:border-box; display:inline-block; width:18%; height:auto; padding:0; margin:0 1% 2% 1%; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item:hover { opacity:0.9; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item img { width:100%; height:auto; border-radius:3px; display:block; margin:0; padding:0; border:none; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item.ui-sortable-helper, #cooked-recipe-image-gallery .cooked-recipe-gallery-item.ui-sortable-helper:hover { opacity:0.75; box-shadow:0 10px 20px rgba(0,0,0,0.15); }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item.ui-sortable-placeholder { width:18%; height:auto; visibility:visible !important; border-radius:3px; background:#ddd; display:inline-block; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item .remove-image-button { border-radius:0 3px 0 0; display:inline-block; position:absolute; top:0; right:0; padding:10px; background:rgba(0,0,0,0.25); color:#fff; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item .remove-image-button:hover { background:#ff0100; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item .cooked-gallery-edit-button { border-radius:3px 0 0 0; display:inline-block; position:absolute; top:0; left:0; padding:10px; background:rgba(0,0,0,0.25); color:#fff; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item .cooked-gallery-edit-button:hover { background:#0084bc; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item .cooked-gallery-item-title { position:absolute; left:0; bottom:0; box-sizing:border-box; width:100%; border-radius:0 0 3px 3px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block; padding:10px 10px 11px; text-align:center; background:#000; background:rgba(0,0,0,0.3); color:#fff; font-size:12px; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item:hover .cooked-gallery-item-title { background:#000; background:rgba(0,0,0,0.75); }

#cooked-recipe-image-gallery .cooked-recipe-gallery-item.ui-sortable-helper {
  -webkit-animation: cooked-wiggle 0.4s infinite;
  -moz-animation:    cooked-wiggle 0.4s infinite;
  -o-animation:      cooked-wiggle 0.4s infinite;
  animation:         cooked-wiggle 0.4s infinite;
}

/* Nutrition Label */
#cooked_recipe_settings label.cooked-nutrition-label { display:block; font-size:0.7rem; letter-spacing:0.03rem; font-weight:700; text-transform:uppercase; line-height:1; margin:0 0 7px; }
#cooked_recipe_settings #cooked-nutrition-label {
  line-height:1.6;
  font-size:1.1rem;
  border:1px solid #aaa;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  padding:5%;
  margin:0 0 2rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
  container-name: nutrition-label;
  container-type: inline-size;
}

#cooked_recipe_settings #cooked-nutrition-label h2 {
  font-size:2.5rem;
  line-height:1;
  letter-spacing:0;
  font-weight:800;
  padding:0 0 0.5rem 0;
  margin:0 0 0.4rem;
  color:#333;
  border-bottom:1px solid #aaa;
}

@container nutrition-label (max-width:303px) {
  #cooked_recipe_settings #cooked-nutrition-label h2 {
      font-size: 2rem;
  }
}

@container nutrition-label (max-width:263px) {
  #cooked_recipe_settings #cooked-nutrition-label h2 {
      font-size: 1.8rem;
  }
}

@container nutrition-label (max-width:215px) {
  #cooked_recipe_settings #cooked-nutrition-label h2 {
      font-size: 1.4rem;
  }
}

#cooked_recipe_settings #cooked-nutrition-label p { margin:0; padding:0; font-size:1rem; }
#cooked_recipe_settings #cooked-nutrition-label p.cooked-daily-value-text { padding:0.5rem 0 0 0; margin:0; font-size:0.9rem; }
#cooked_recipe_settings #cooked-nutrition-label ul.cooked-nut-servings p { font-size:1.5rem; }
#cooked_recipe_settings #cooked-nutrition-label ul { list-style:none; margin:0; padding:0; }
#cooked_recipe_settings #cooked-nutrition-label li { position:relative; margin:0; padding:0 0 3px 0; border-top:1px solid #aaa; }
#cooked_recipe_settings #cooked-nutrition-label li li { padding:3px 0 0; margin:3px 0 0; }
#cooked_recipe_settings #cooked-nutrition-label li:after { content: ""; display: table; clear: both; }
#cooked_recipe_settings #cooked-nutrition-label li.no-after:after { content: none; }
#cooked_recipe_settings #cooked-nutrition-label li.cooked-nut-spacer { border:none; height:0.6rem; padding:0; background:#333; }
#cooked_recipe_settings #cooked-nutrition-label > ul > li:first-child,
#cooked_recipe_settings #cooked-nutrition-label ul li.cooked-nut-no-border { border:none; }
#cooked_recipe_settings #cooked-nutrition-label li ul { padding:0; margin:0 0 0 20px; }
#cooked_recipe_settings #cooked-nutrition-label li ul.cooked-right { margin:0; }
#cooked_recipe_settings #cooked-nutrition-label li ul.cooked-right li { border:none; padding:0; margin:0;  }
#cooked_recipe_settings #cooked-nutrition-label li.cooked-calories ul.cooked-right li strong.cooked-nut-label { font-size: 2.5rem; line-height:1; }
#cooked_recipe_settings #cooked-nutrition-label .cooked-calories {
  border-top:none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
}

#cooked_recipe_settings #cooked-nutrition-label .cooked-calories strong,
#cooked_recipe_settings #cooked-nutrition-label .cooked-calories strong.cooked-nut-label {
  font-size: 2rem;
  font-weight: 800;
}
#cooked_recipe_settings #cooked-nutrition-label ul.cooked-nut-servings li { border: none; }
#cooked_recipe_settings #cooked-nutrition-label ul.cooked-nut-servings { margin: 0; }
#cooked_recipe_settings #cooked-nutrition-label .cooked-nut-hr { border:none; border-top:1.3rem solid #333; margin:0.1rem 0 0; padding:0; }
#cooked_recipe_settings #cooked-nutrition-label strong { font-weight:800; }
#cooked_recipe_settings #cooked-nutrition-label .cooked-serving-size strong,
#cooked_recipe_settings #cooked-nutrition-label .cooked-serving-size strong.cooked-nut-label { font-size: 1.5rem; font-weight: 800; }
#cooked_recipe_settings #cooked-nutrition-label strong.cooked-nut-heading { font-size:1rem; }
#cooked_recipe_settings #cooked-nutrition-label strong.cooked-nut-label { font-weight:400; }

#cooked_recipe_settings #cooked-nutrition-label .cooked-nut-right { float:right; }
#cooked_recipe_settings #cooked-nutrition-label ul.cooked-nut-bottom { margin:0 0 0.75rem; }
#cooked_recipe_settings #cooked-nutrition-label ul.cooked-nut-bottom li {
  border-top:none;
  border-bottom:1px solid #aaa;
  float:left;
  width:100%;
  box-sizing:border-box;
}
/* @TODO: This does not work because the last child could be hidden. */
/* #cooked_recipe_settings #cooked-nutrition-label ul.cooked-nut-bottom li:last-child {
  border-bottom:none;
} */
#cooked_recipe_settings .cooked-measurement-inputs .cooked-select-wrapper:before { top:8px; }

/* Highlight button class */
.cooked-auto-nutrition {
  display: flex;
  justify-content: end;
  margin: 0 0 1rem;
}
#cooked-tooltip-auto-nutrition-notice {
  margin: 0;
}

.cooked-settings-header { border-radius: 10px 10px 0 0; width: auto; height: 90px; line-height: 85px; padding: 0 30px; font-weight: 600; box-sizing: border-box; background:#33373c; color:#fff; font-size: 29px; letter-spacing: -0.03rem; }
.cooked-settings-header .cooked-icon { color:#00e0a9; }
.cooked-settings-submit-wrap { padding:0 0 35px 35px; margin:-20px 0 0; }
#cooked_recipe_settings .recipe-setting-block .cooked-permalink-field-wrapper span { font-size:14px; display:inline-block; line-height:32px; padding:5px 0 0 0; }
#cooked_recipe_settings .recipe-setting-block input[type="text"].cooked-permalink-field { position:relative; top:0; display:inline-block; width:150px; margin:0 10px; }

#cooked-settings-panel { position:relative; margin:0; padding:0; }
#cooked-settings-tabs  { display:flex; width:auto; padding:0 20px 0 0; margin:0; list-style:none; }
#cooked-settings-tabs li { font-size:13px; line-height:1; font-weight:400; display:block; padding:0; margin:0; color:#fff; }
#cooked-settings-tabs li .cooked-icon { font-size:14px; }
#cooked-settings-tabs li .cooked-icon.cooked-icon-recipe-icon { font-size:20px; top:2px; position:relative; }
#cooked-settings-tabs li:hover { cursor:pointer; }
#cooked-settings-tabs li.active,
#cooked-settings-tabs li.active:hover { cursor:default; }
#cooked-settings-tabs a { line-height:41px; font-size:0.9rem; letter-spacing:0.03rem; padding:2px 15px 4px; display:block; outline:none; box-shadow:none; border:none; white-space:nowrap; }
#cooked-settings-panel.stuck { padding-top:41px; }
#cooked-settings-panel.stuck #cooked-settings-tabs { position: fixed; width:calc(100% - 180px); top:32px; left:0; z-index: 100000; margin-left:160px; }
#cooked-settings-panel .cooked-settings-tab-content-wrapper .cooked-settings-tab-content { display:none; }
#cooked-settings-panel .cooked-settings-tab-content-wrapper .cooked-settings-tab-content:first-child { display:block; }
#cooked-settings-panel .cooked-settings-tab-content { padding:25px 35px; margin-right:0; }
#cooked-settings-panel #cooked_recipe_settings .recipe-setting-block h3.cooked-settings-title { padding-bottom:0.2rem; }


/* Settings Columns */
#cooked_recipe_settings .cooked-setting-column-14 { position:relative; width:25%; float:left; padding-right:20px; box-sizing:border-box; }
#cooked_recipe_settings .cooked-setting-column-13 { position:relative; width:33%; float:left; padding-right:20px; box-sizing:border-box; }
#cooked_recipe_settings .cooked-setting-column-23 { position:relative; width:66%; float:left; padding-right:20px; box-sizing:border-box; }
#cooked_recipe_settings .cooked-setting-column-12 { position:relative; width:50%; float:left; padding-right:20px; box-sizing:border-box; }
#cooked_recipe_settings .cooked-setting-column-14 input[type="text"],
#cooked_recipe_settings .cooked-setting-column-13 input[type="text"],
#cooked_recipe_settings .cooked-setting-column-23 input[type="text"],
#cooked_recipe_settings .cooked-setting-column-12 input[type="text"],
#cooked_recipe_settings .recipe-setting-block input[type="text"].cooked-shortcode-field { width:95%; }
#cooked_recipe_settings .cooked-setting-column-14 select,
#cooked_recipe_settings .cooked-setting-column-13 select,
#cooked_recipe_settings .cooked-setting-column-23 select,
#cooked_recipe_settings .cooked-setting-column-12 select,
#cooked_recipe_settings .cooked-setting-column-14 .cooked-select-wrapper,
#cooked_recipe_settings .cooked-setting-column-13 .cooked-select-wrapper,
#cooked_recipe_settings .cooked-setting-column-12 .cooked-select-wrapper { width:100%; }
#cooked_recipe_settings .cooked-setting-column-14.cooked-tb-col { padding:0; }

#cooked-welcome-screen { padding:15px 50px 0 30px; position:relative; }
#cooked-welcome-screen .cooked-badge { position:absolute; top:0; right:0; }
#cooked-welcome-screen .cooked-badge img { border:none; width:150px; height:150px; display:block; margin:0; }
#cooked-welcome-screen .about-text { margin-bottom:40px; line-height:1.8; font-size:17px; margin-right:260px; }
#cooked-welcome-screen .about-wrap { margin:25px auto 0; max-width:1000px; }
#cooked-welcome-screen .about-wrap h1 { font-size:2.25rem; }
#cooked-welcome-screen .about-wrap p { font-size:1rem; margin:0 0 2rem; line-height:1.7rem; }
#cooked-welcome-screen #cooked-welcome-panel { background: #fff; padding:30px 30px 15px 30px; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; border:none; box-shadow:0 4px 4px rgba(0,0,0,.05),0 8px 8px rgba(0,0,0,.05),0 32px 32px rgba(0,0,0,.05),0 64px 64px rgba(0,0,0,.05); }
#cooked-welcome-screen #cooked-welcome-panel img.cooked-welcome-banner { border:none; display:block; padding:0; margin:0 0 30px; box-sizing:border-box; border-radius:5px 5px 0 0; }

#cooked-welcome-screen #cooked-welcome-panel .cooked-welcome-panel-intro { text-align:center; margin:0 50px 2rem; padding:15px 0; border-bottom:1px solid #e5e5e5; }
#cooked-welcome-screen #cooked-welcome-panel .cooked-welcome-panel-intro h1 { font-size:1.75rem; margin:0 0 1rem; padding:0; }
#cooked-welcome-screen #cooked-welcome-panel .cooked-welcome-panel-intro p { max-width:600px; font-size:1.1rem; line-height:1.8rem; margin:0 auto 2rem; padding:0; }

#cooked-welcome-screen .cooked-welcome-panel a { text-decoration:none; }
#cooked-welcome-screen .cooked-welcome-panel-column { display:block !important; }
#cooked-welcome-screen .cooked-welcome-panel-column > strong { font-size:1rem; }

#cooked-welcome-screen .cooked-welcome-panel-column h3 { font-size:1.75rem; margin:0 0 1rem; position:relative; }
#cooked-welcome-screen .cooked-welcome-panel-column h3 a { position:absolute; top:0; right:0; font-size:12px; font-weight:400; }
#cooked-welcome-screen .cooked-welcome-panel-column h3 a i.fa { position:relative; top:1px; }

#cooked-welcome-screen .cooked-welcome-panel-column h4 { font-size:1.25rem; margin:0 0 1rem; position:relative; }
#cooked-welcome-screen .cooked-welcome-panel-column h4 a { position:absolute; top:0; right:0; font-size:12px; font-weight:400; }
#cooked-welcome-screen .cooked-welcome-panel-column h4 a i.fa { position:relative; top:1px; }

#cooked-welcome-screen .cooked-welcome-panel-column .cooked-welcome-panel-full { width:100%; padding-right:0; float:none; }
#cooked-welcome-screen .cooked-welcome-panel-column .cooked-welcome-panel-last { width:70%; padding-right:0; float:right; }
#cooked-welcome-screen .cooked-welcome-panel-column .fa-external-link { color:#888; }

#cooked-welcome-screen .cooked-welcome-panel-content { min-height: 1px; padding:10px 50px 20px; margin:0; }
#cooked-welcome-screen .cooked-welcome-panel .cooked-welcome-panel-column-container { display:flex; justify-content:between !important; padding:0 !important; flex-wrap:wrap; }
#cooked-welcome-screen .cooked-welcome-panel-column { box-sizing:border-box; padding-right:2rem; width:30%; }
#cooked-welcome-screen .cooked-pro-features { width:85%; margin:0 auto; padding:0 0 10px; display:flex; flex-wrap:wrap; }

#cooked-welcome-screen ul.cooked-whatsnew-list { margin-right:0; }
#cooked-welcome-screen ul.cooked-whatsnew-list li { line-height:1.7; position:relative; margin-right:0; border-top:1px solid #e5e5e5; padding:8px 0 4px 0 }
#cooked-welcome-screen ul.cooked-whatsnew-list li:first-child { border:none; padding-top:0; }
#cooked-welcome-screen ul.cooked-whatsnew-list strong.new,
#cooked-welcome-screen ul.cooked-whatsnew-list strong.tweak,
#cooked-welcome-screen ul.cooked-whatsnew-list em.fix { position:absolute; font-style:normal; display:inline-block; background:#aaa; text-transform:uppercase; top:11px; left:0; color:#fff; font-weight:600; -moz-border-radius:3px; -webkit-border-radius:3px; text-align:center; width:38px; border-radius:3px; font-size:10px; line-height:19px; height:19px; padding:0 6px; margin:0 6px 0 0; }
#cooked-welcome-screen ul.cooked-whatsnew-list li:first-child strong.new,
#cooked-welcome-screen ul.cooked-whatsnew-list li:first-child strong.tweak,
#cooked-welcome-screen ul.cooked-whatsnew-list li:first-child em.fix { top:3px; }
#cooked-welcome-screen ul.cooked-whatsnew-list strong.new { background:#56C477; }
#cooked-welcome-screen ul.cooked-whatsnew-list strong.tweak { background:#0073aa; }
#cooked-welcome-screen ul.cooked-whatsnew-list em.fix { background:#ffad10; }
#cooked-welcome-screen ul li.cooked-pro i.cooked-icon { color:#ffad10;  }
#cooked-welcome-screen ul li.cooked-pro a { font-weight:600; color:#ffad10; }
#cooked-welcome-screen ul li.cooked-pro a:hover { color:#D3910F; }
#cooked-welcome-screen ul.cooked-whatsnew-pro { margin-bottom:0; flex:1 0 auto; width:33.333%;  }
#cooked-welcome-screen ul.cooked-whatsnew-pro li { padding-left:0; font-size:1.15rem; font-weight:400; }
#cooked-welcome-screen ul.cooked-whatsnew-pro li i.cooked-icon-star { color:#ffad10; margin:0 7px 0 0; font-size:19px; position:relative; top:1px; }
#cooked-welcome-screen .cooked-welcome-bottom { text-align:center; background:#f9f9f9; margin:30px -80px -15px; border-top:1px solid #f1f1f1; }
#cooked-welcome-screen .cooked-pro-button { display:inline-block; clear:both; text-align:center; width:auto; margin:30px auto; padding:20px 25px 21px; font-size:1.25rem; line-height:1rem; font-weight:600; color:#fff; background:#ffad10; border-radius:50px; }
#cooked-welcome-screen .cooked-pro-button:hover { background:#e08704; }
#cooked-welcome-screen .cooked-coupon-code { color:#4c5e65; display:inline-block; font-size:17px; padding:0 0 0 1.5rem; }

@media screen and (max-width:1050px){
  #cooked-welcome-screen ul.cooked-whatsnew-pro { width:100%; margin-top:0; }
  #cooked-welcome-screen ul.cooked-whatsnew-pro:first-child { margin-top:10px; }
  #cooked-welcome-screen ul.cooked-whatsnew-pro li:first-child { border-top:1px solid #e5e5e5; padding-top:8px; }
  #cooked-welcome-screen ul.cooked-whatsnew-pro:first-child li:first-child { border:none; padding-top:0; }
}
@media screen and (max-width:870px){
  #cooked-welcome-screen .cooked-pro-features { width:90%; }
  #cooked-welcome-screen .cooked-welcome-panel-column { padding-right:0; }
  #cooked-welcome-screen .cooked-welcome-panel-column.cooked-welcome-panel-last { width:100%; padding-top:20px; }
  #cooked-welcome-screen .about-wrap { margin-top:0; }
  #cooked-welcome-screen .cooked-welcome-panel .cooked-welcome-panel-column li { display:block; }
}

@media screen and (max-width:782px){
  #cooked-welcome-screen .cooked-pro-features { width:100%; }
  #cooked-welcome-screen { padding:15px 40px 0 30px; }
  #cooked-welcome-screen .cooked-badge { display:none; }
  #cooked-welcome-screen .about-wrap h1,
  #cooked-welcome-screen .about-text { margin-right:0; }
  #cooked-welcome-screen .cooked-welcome-panel-column h3 a { display:block; position:relative; }
}

@media screen and (max-width:500px){
  #cooked-welcome-screen #cooked-welcome-panel img.cooked-welcome-banner { display:none; }
  #cooked-welcome-screen .about-wrap h1 { font-size:1.8rem; }
  #cooked-welcome-screen .about-text { font-size:15px; }
}

/* Cooked Colors */
#cooked_recipe_settings .recipe-setting-block h3.cooked-settings-title,
#cooked_recipe_settings #cooked-nutrition-label .cooked-nut-label { color:#0173aa; }
/* #cooked_recipe_settings #cooked-nutrition-label .cooked-calories .cooked-right .cooked-nut-label,
#cooked_recipe_settings #cooked-nutrition-label .cooked-serving-size .cooked-right .cooked-nut-label { color: unset; } */
#cooked_recipe_settings .recipe-setting-block.cooked-danger h3.cooked-settings-title { color:#d44d1f; }
#cooked_recipe_settings .cooked-alert-block h3.cooked-settings-title { color:#c02a2a; }
#cooked-recipe-tabs { background:#fff; }
#cooked-recipe-tabs li { background:#454b52; color:#fff; color:rgba(255,255,255,0.75); border-right:1px solid rgba(0,0,0,0.15); }
#cooked-recipe-tabs li:hover { background:#535a62; color:#fff; border-right:1px solid rgba(0,0,0,0.15); }
#cooked-recipe-tabs li.active { background:#fff; color:#333; border-right:1px solid #fff; }
#cooked-settings-tabs { background:#454b52; }
#cooked-settings-tabs a { color:#fff; text-decoration:none; }
#cooked-settings-tabs li { background:#454b52; color:#fff; color:rgba(255,255,255,0.75); }
#cooked-settings-tabs li:hover { background:#535a62; color:#fff; }
#cooked-settings-tabs li.active { background:#fff; }
#cooked-settings-tabs li.active a { color:#000; }

/* Animations */
#cooked_recipe_settings .cooked-tooltip-icon,
#cooked_recipe_settings select,
#cooked-directions-builder .cooked-direction-block > .cooked-direction-image .cooked-direction-img-placeholder,
#cooked-migration-progress.cooked-progress .cooked-progress-bar,
#cooked_recipe_settings .cooked-select-wrapper:before { -webkit-transition: all .15s ease-out; -moz-transition: all .15s ease-out; transition: all .15s ease-out; }
#cooked-recipe-image-gallery .cooked-recipe-gallery-item { -webkit-transition: transform .15s ease-out; -moz-transition: all .15s ease-out; transition: transform .15s ease-out; }
#cooked-recipe-tabs li.cooked-loading { -webkit-transition: opacity .15s ease-out; -moz-transition: all .15s ease-out; transition: opacity .15s ease-out; }

@-webkit-keyframes cooked-wiggle {
  0%   { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.03); }
  100% { -webkit-transform: scale(1); }
}
@-moz-keyframes cooked-wiggle {
  0%   { -moz-transform: scale(1); }
  50% { -moz-transform: scale(1.03); }
  100% { -moz-transform: scale(1); }
}
@-o-keyframes cooked-wiggle {
  0%   { -o-transform: scale(1); }
  50% { -o-transform: scale(1.03); }
  100% { -o-transform: scale(1); }
}
@keyframes cooked-wiggle {
  0%   { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

@media screen and ( max-width: 1150px ) {
  #cooked-recipe-tabs li { font-size:0.8rem; padding:0 1.2rem 0 0.7rem; }
  #cooked-recipe-tabs li .cooked-icon { display:none; }
}

@media screen and ( max-width: 960px ) {
  #cooked_recipe_settings.stuck #cooked-recipe-tabs { margin-left:36px; }
}

/* Substitution Fields */
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-substitution-fields {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    box-sizing: border-box;
    padding-bottom: 5px;
    position: relative;
}

#cooked-ingredients-builder .cooked-ingredient-block > .cooked-substitution-fields .cooked-ingredient-amount { width: 15%; }
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-substitution-fields .cooked-ingredient-measurement { width: 20%; }
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-substitution-fields .cooked-ingredient-name { width: 65%; }
#cooked-ingredients-builder .cooked-ingredient-block > .cooked-substitution-fields .cooked-sub-label {
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 300;
}

#cooked-ingredients-builder .cooked-ingredient-block > .cooked-substitution-fields > div {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
}
